   <!doctype html>
    <html lang="pt-br" ng-app="app">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
            <link rel="stylesheet" href="application/css/style.css">
      </head>
      <body>
      
        <div class="main-app" ng-controller="XmlController as viewModel">
            <h2 class="main-title">{{viewModel.curso.nome}}</h2>
                
            <table class="table table-bordered" ng-repeat="tabela in viewModel.curso.semestres">
                <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição da Matéria</th>
                    <th scope="col">Professor(a)</th>
                    <th scope="col">Sala</th>
                    <th scope="col">Quantidade de Créditos</th>
                    <th scope="col">Periodo</th>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr ng-repeat="linha in tabela.disciplinas">
                      <th>{{linha.codigo}}</th> 
                      <th>{{linha.nome}}</th> 
                      <th>{{linha.descricao}}</th> 
                      <th>{{linha.professor.nome}}</th> 
                      <th>{{linha.sala}}</th> 
                      <th>{{linha.creditos}}</th> 
                      <th>{{tabela.nome}}</th> 
                  </tr>
                </tbody>
              </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="application/js/controller.js"></script>
      </body>
    </html>

