   <!doctype html>
    <html lang="pt-br" ng-app="app">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
      </head>
      <body>
        <h2>Ciência da Computação</h2>
        <div ng-controller="XmlController as viewModel">
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="vendors/bootstrap/js/bootstrap.js"></script>
        <script src="application/js/controller.js"></script>
      </body>
    </html>

