   <!doctype html>
    <html lang="pt-br" ng-app="app">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
            <link rel="stylesheet" href="application/css/style.css">
      </head>
      <body>
      
        <div class="main-app" ng-controller="XmlController as viewModel" >
            <h2 class="main-title">{{viewModel.curso.nome}}</h2>
              <div class="row semestre" ng-repeat="semestre in viewModel.curso.semestres" ng-hide="viewModel.editando">
                <h3>{{semestre.nome}}º Semestre</h3>
                <div class="row disciplinas">
                    <div class="disciplina" ng-repeat="disciplina in semestre.disciplinas"  ng-click="viewModel.escolherDisciplina(disciplina)">
                        <span class="nome-disciplina">{{disciplina.nome}}</span>
                   </div>
                </div>
                 
              </div> 

              <div ng-show="viewModel.editando">
                  {{viewModel.disciplinaEscolhida}}
                  <div class="row">
                      <div class="col-md-3 form-group">
                          <label>Nome da Disciplina</label>
                          <input type="text" class="form-control" ng-model="viewModel.disciplinaEscolhida.nome" placeholder="Nome da disciplina">
                      </div>
                      <div class="col-md-3 form-group">
                          <label>Descrição da disciplina</label>
                          <textarea class="form-control" ng-model="viewModel.disciplinaEscolhida.descricao" rows="1" placeholder="Nome da disciplina"></textarea>
                      </div>
                      <div class="col-md-3 form-group">
                          <label>Nome do Professor</label>
                          <input type="text" class="form-control" ng-model="viewModel.disciplinaEscolhida.professor.nome" placeholder="Nome da disciplina">
                      </div>
                      <div class="col-md-3 form-group">
                          <label>Sala</label>
                          <input type="text" class="form-control" ng-model="viewModel.disciplinaEscolhida.sala" placeholder="Nome da disciplina">
                      </div>
                      <div class="col-md-3 form-group">
                          <label>Ementa da disciplina</label>
                          <textarea class="form-control" ng-model="viewModel.disciplinaEscolhida.ementa" rows="1" placeholder="Ementa da disciplina"></textarea>
                      </div>
                      <div class="col-md-3 form-group" ng-repeat="rrequisito as viewModel.disciplinaEscolhida.requisitos">
                          <label>Requisito</label>
                          <input type="text" class="form-control" ng-model="requisito" placeholder="Nome da disciplina">
                     </div>
                     
                  </div>
              </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
        <script src="application/js/controller.js"></script>
      </body>
    </html>

